apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: platform-services-{{ .Release.Namespace }}
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      tier: web
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
